.MuiMenuItem-root  {
  border-radius: 8px;
  height: 60px;

}

.MuiMenuItem-root:hover  {
  background: #0D6EFD;
  color: white;

  .MuiListItemIcon-root  {
    color: white;
  }
}

.MuiListItemIcon-root  {
    padding-right: 15px;  
}

.notifications_box  {
  color: gray;
  display: flex;
  justify-content: end;
  column-gap: 15px;
  padding-right: 30px;
}

.display_none {
  display: none;
}

.logo_img {
    margin-bottom: 20px;
    margin-left: 20px;
}

.backgroung_img {
  height: 100%;
}