.signIn_container {
  width: 375px;
  height: 812px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0px, 16px, 32px;
}

.signIn_title {
  width: 290px;
  height: 29px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
  text-align: center;
  color: #212121;
  margin-top: 70px;
}

.signIn_body_container {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px 16px 32px;
  gap: 2px;
}

.signIn_register_form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.signIn_submit {
  margin-left: 17px;
  padding-top: 15px;
}

.form-check {
  margin-left: 15px;
  margin-top: 5px;
  width: 300px;
  height: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.apply_term {
  width: 310px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #212121;
}

.prime_btn {
  padding: 8px 22px;
  width: 311px;
  height: 49px;
  background: #0d6efd;
  border: #0d6efd;
  border-radius: 6px;
  margin-bottom: 13px;
  cursor: pointer;
  margin-top: 50px;
}

.btn_text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  color: #ffffff;
  letter-spacing: 0.46px;
}








.email_img {
  padding-top: 240px;
  padding-bottom: 65px;
  margin: 0;
}

.email_title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #212121;
  text-align: center;
  width: 220px;
}

.email_notification {
  padding-top: 15px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #616161;
  text-align: center;
  width: 220px;
}
  
.email_link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  width: 220px;
}

.email_prime_btn {
  margin-top: 190px;
  gap: 8px;
  width: 343px;
  height: 48px;
  background: #0D6EFD;
  border: #0D6EFD;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}










.checked_img {
  padding-top: 260px;
  padding-bottom: 30px;
  margin: 0;
}

.checked_title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #212121;
  text-align: center;
  width: 220px;
}
 
.checked_prime_btn {
  margin-top: 300px;
  gap: 8px;
  width: 343px;
  height: 48px;
  background: #0D6EFD;
  border: #0D6EFD;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}


/*

#email {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #616161;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 0px 0px #cbdafc;
  border-radius: 4px;
}

span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
}

img {
  margin-top: 67px;
  margin-bottom: 99px;
}





.footer_container {
  margin-top: 0px;
  margin-left: 6px;
  width: 175px;
  display: flex;
  justify-content: space-between;
}

.footer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #0d6efd;
  text-decoration: none;
  margin-top: 3px;
}
*/
