.MuiMenuItem-root  {
  border-radius: 8px;
  height: 60px;

}

.MuiMenuItem-root:hover  {
  background: #0D6EFD;
  color: white;
}

.MuiMenuItem-root:hover .MuiListItemIcon-root  {
    color: white;
  }

.MuiListItemIcon-root  {
    padding-right: 15px;  
}

.avatar_img {
    height: 100px;
}

.logo_img {
    margin-top: 10px;
    margin-bottom: 20px;
}