ul {
    list-style: none;
}

li {
    font-size: 20px;
    color: blue;
}
.todo_container {
    align-items: center;
    font-size: 20px;
}

input:checked + span {
    text-decoration: line-through;
}