.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.body_container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title {
  padding-bottom: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
  color: #212121;
}

.description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #616161;
}

img {
  margin-top: 50px;
}

.account_container {
  display: flex;
  flex-direction: row;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  width: 40%;
  max-width: 200px;
  margin-top: 20px;
  justify-content: space-around;
}
