@import 'roboto.css';
@import '~normalize.css';

h1 {
  color: blue;
  font-size: 30px;
  font-family: "Roboto";
}

div {
  color: green;
  font-size: 30px;
}

img {
  width: 100px;
  height: 110px;
}

.logo {
    background-image: url(./assets/images/png.png);
    width: 200px;
    height: 200px;
}
